# Python
__pycache__/
*.pyc
*.pyo

###docker build -t poke-api-jenkins-image .
###docker run --privileged --user root --name poke-api-jenkins -v /var/run/docker.sock:/var/run/docker.sock -p 8080:8080 poke-api-jenkins-image
